<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>MIB Enterprise </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
</head>

<body>
   <div class="container black">
       <div class="documents-container">
           <div class="menu">
               <ul>
                   <li name = "add">Новый земной документ</li>
                   <li name = "logout">Выйти</li>
               </ul>
           </div>

            <div class="tab">
                <button class="tablinks tablinkbuttons" onclick="openCity(event, 'passporters')">Пришельцы</button>
                <button id="deffault" class="tablinks tablinkbuttons" onclick="openCity(event, 'earthDocuments')">Земные документы</button>
            </div>

            <div id="passporters" class="tabcontent">
                <div class="search-form">
                    <form class="form search" th:object="${findFildsPassport}" th:action="@{/lawyerIndex}" method="post">
                         <div class="label">
                             Имя пришельца:
                         </div>
                         <input th:field="*{name}" class="field" type="text" placeholder="Введите..." />
                         <div class="label">
                             Родная планета:
                         </div>
                         <input th:field="*{homePlanet}" class="field" type="text" placeholder="Введите..." />
                         <div class="inline-block">
                            <div class="header">
                                Раса пришельца:
                            </div>
                             <select th:field="*{idRace}" >
                                 <option value="0"> -- </option>
                                 <option th:each="alienRace : ${alienRaces}"  th:value="${alienRace.raceId}"  th:utext="${alienRace.name}"/>
                             </select>
                        </div>
                        <div class="inline-block">
                            <div class="header">
                                Ключевые слова:
                            </div>
                            <input th:field="*{description}" type="text" class="field" />
                            <input type="submit" class="field" value="Поиск" />
                        </div>
                    </form>
                </div>
                <div class="content">
                    <table border="1" width="100%">
                        <tr>
                            <th>Имя пришельца</th>
                            <th>Родная планета</th>
                            <th>Раса пришельца</th>
                            <th>Описание</th>
                            <th></th>
                        </tr>
                        <!-- FOR aliens PRINT -->
                        <tr th:each="alien : ${aliens}">
                            <td th:utext="${alien.name}"></td>
                            <td th:utext="${alien.homePlanet}"></td>
                            <td th:utext="${alien.nameRace}"></td>
                            <td th:utext="${alien.description}"></td>
                            <td>
                                <button name = "view" th:data1="${alien.name}" th:data2="${alien.homePlanet}" th:data3="${alien.description}" th:onmouseup="|getAlienPassport('${alien.passportId}', this.getAttribute('data1'), this.getAttribute('data2'), ${alien.idRace}, this.getAttribute('data3'));|" class = "button-edit">Посмотреть</button>
                            </td>
                        </tr>
                        <!-- END FOR -->
                    </table>
                </div>
            </div>

            <div id="earthDocuments" class="tabcontent">
                <div class="search-form">
                    <form class="form search" th:object="${findFildsLawyer}" th:action="@{/lawyerIndex}" method="post">
                        <div class="inline-block">
                            <div class="header">
                                Получатель:
                            </div>
                            <select th:field="*{idAlien}" >
                                <option value="0"> -- </option>
                                <option th:each="alien : ${listAliens}"  th:value="${alien.passportId}"  th:utext="${alien.name}"/>
                            </select>
                        </div>
                        <div class="label">
                            Земное имя пришельца:
                        </div>
                        <input th:field="*{earthName}" class="field" type="text" placeholder="Введите..." />
                        <div class="inline-block">
                            <div class="header">
                                Вид документа:
                            </div>
                            <select th:field="*{idTypeDocument}" >
                                <option value="0"> -- </option>
                                <option th:each="typeEarthDocument : ${typeEarthDocuments}"  th:value="${typeEarthDocument.typeEarthDocumentId}"  th:utext="${typeEarthDocument.type}"/>
                            </select>
                        </div>
                        <div class="inline-block">
                            <div class="header">
                                Ключевые слова:
                            </div>
                            <input th:field="*{description}" type="text" class="field" />
                            <input type="submit" class="field" value="Поиск" />
                        </div>
                    </form>
                </div>
                <div class="content">
                    <table border="1" width="100%">
                        <tr>
                            <th>Имя пришельца</th>
                            <th>Земное имя пришельца</th>
                            <th>Вид документа</th>
                            <th>Описание</th>
                            <th></th>
                        </tr>
                        <!-- FOR aliens PRINT -->
                        <tr th:each="earthDocument : ${earthDocuments}">
                            <td th:utext="${earthDocument.nameAlien}"></td>
                            <td th:utext="${earthDocument.earthName}"></td>
                            <td th:utext="${earthDocument.nameTypeDocument}"></td>
                            <td th:utext="${earthDocument.description}"></td>
                            <td>
                                <button button name = "edit" th:data1="${earthDocument.earthName}" th:data2="${earthDocument.description}" th:onmouseup="|getEarthDocument(${earthDocument.earthDocumentId}, this.getAttribute('data1'), ${earthDocument.idNation}, ${earthDocument.idTypeDocument}, ${earthDocument.idAlien}, this.getAttribute('data2'));|" class = "button-edit">Редактировать</button>
                                <button name = "delete" th:onmouseup="|getIdByButton(${earthDocument.earthDocumentId});|" class = "button-edit" >Удалить</button>
                            </td>
                        </tr>
                        <!-- END FOR -->
                    </table>
                </div>
            </div>
       </div>

       <div id="view-modal" class="modal">
           <form class="modal-content form passport">
                <table>
                    <tr>
                        <td colspan="2" align="center">
                            <div class="header">Паспорт</div>
                        </td>
                        <td>
                            <input id="passportId" class="field" type="hidden" placeholder="Введите..." />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            <div class="label">Имя пришельца:</div>
                        </td>
                        <td class="col-2">
                            <input id="passportName" class="field" type="text" placeholder="Введите..." />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            <div class="label">Родная планета:</div>
                        </td>
                        <td class="col-2">
                            <input id="passportHomePlanet" class="field" type="text" placeholder="Введите..." />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            <div class="label">Раса пришельца:</div>
                        </td>
                        <td class="col-2">
                            <select id="passportIdRace">
                                <option th:each="alienRace : ${alienRaces}" th:value="${alienRace.raceId}"  th:utext="${alienRace.name}"/>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="label">Описание:</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea id="passportDescription" class="textarea"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <input type="button" class="close" value="К документам">
                        </td>
                    </tr>
                </table>
           </form>
        </div>

       <div id="add-modal" class="modal">
           <form class="modal-content form technology" th:object="${addEarthDocument}" th:action="@{/addEarthDocument}" method="post">
               <table>
                   <tr>
                       <td colspan="2" align="center">
                           <div class="header">Карточка земного документа</div>
                       </td>
                   </tr>
                   <tr>
                    <td class="col-1">
                        <div class="label">Земное имя пришельца:</div>
                    </td>
                    <td class="col-2">
                        <input th:field="*{earthName}" class="field" type="text" placeholder="Введите..." />
                    </td>
                </tr>
                    <tr>
                       <td class="col-1">
                           <div class="label">Государство проживания:</div>
                       </td>
                       <td class="col-2">
                           <select th:field="*{idNation}">
                               <option th:each="nation : ${nations}"  th:value="${nation.nationId}"  th:utext="${nation.name}"/>
                           </select>
                       </td>
                    </tr>
                </tr>
                <tr>
                   <td class="col-1">
                       <div class="label">Вид документа:</div>
                   </td>
                   <td class="col-2">
                       <select th:field="*{idTypeDocument}">
                           <option th:each="typeEarthDocument : ${typeEarthDocuments}"  th:value="${typeEarthDocument.typeEarthDocumentId}"  th:utext="${typeEarthDocument.type}"/>
                       </select>
                   </td>
                </tr>
                <tr>
                    <td class="col-1">
                        <div class="label">Получатель:</div>
                    </td>
                    <td class="col-2">
                        <select th:field="*{idAlien}">
                            <option th:each="alien : ${aliens}"  th:value="${alien.passportId}"  th:utext="${alien.name}"/>
                        </select>
                    </td>
                 </tr>
                    <tr>
                       <td colspan="2">
                           <div class="label">Описание:</div>
                       </td>
                   </tr>
                   <tr>
                       <td colspan="2">
                           <textarea th:field="*{description}"  class="textarea"></textarea>
                       </td>
                   </tr>
                   <tr>
                       <td align="left">
                           <input type="button" class="close" value="К документам">
                       </td>
                       <td align="right">
                           <input type="submit" value="Создать" />
                       </td>
                   </tr>
               </table>
           </form>
       </div>

       <div id="edit-modal" class="modal">
        <form class="modal-content form technology" method="POST" th:object="${addEarthDocument}" th:action="@{/updateEarthDocument}">
            <table>
                <tr>
                    <td colspan="2" align="center">
                        <div class="header">Карточка земного документа</div>
                    </td>
                    <td>
                        <input id="earthDocumentId" th:field="*{earthDocumentId}" class="field" type="hidden" placeholder="Введите..." />
                    </td>
                </tr>
                <tr>
                 <td class="col-1">
                     <div class="label">Земное имя пришельца:</div>
                 </td>
                 <td class="col-2">
                     <input id="earthDocumentEarthName" th:field="*{earthName}"  name="field_2" class="field" type="text" placeholder="Введите..." />
                 </td>
             </tr>
                 <tr>
                    <td class="col-1">
                        <div class="label">Государство проживания:</div>
                    </td>
                    <td class="col-2">
                        <select th:field="*{idNation}" id="earthDocumentIdNation">
                            <option th:each="nation : ${nations}"  th:value="${nation.nationId}"  th:utext="${nation.name}"/>
                        </select>
                    </td>
                 </tr>
             </tr>
             <tr>
                <td class="col-1">
                    <div class="label">Вид документа:</div>
                </td>
                <td class="col-2">
                    <select th:field="*{idTypeDocument}" id="earthDocumentIdTypeDocument">
                        <option th:each="typeEarthDocument : ${typeEarthDocuments}"  th:value="${typeEarthDocument.typeEarthDocumentId}"  th:utext="${typeEarthDocument.type}"/>
                    </select>
                </td>
             </tr>
             <tr>
                 <td class="col-1">
                     <div class="label">Получатель:</div>
                 </td>
                 <td class="col-2">
                     <select th:field="*{idAlien}" id="earthDocumentIdAlien">
                         <option th:each="alien : ${aliens}"  th:value="${alien.passportId}"  th:utext="${alien.name}"/>
                     </select>
                 </td>
              </tr>
                 <tr>
                    <td colspan="2">
                        <div class="label">Описание:</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea id="earthDocumentDescription" th:field="*{description}" class="textarea"></textarea>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <input type="button" class="close" value="К документам">
                    </td>
                    <td align="right">
                        <input type="submit" value="Сохранить" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

   <div id="logout-modal" class="modal">
       <div class="modal-content">
           <span class="close">&times;</span>
           <form class="form" method="POST" action="/logout">
               <table width=100%>
                   <tr>
                       <td align="center" colspan="3">
                           <h4>Вы действительно хотите выйти?</h4>
                       </td>
                   </tr>
                   <tr>
                       <td width=50%><input class="w-100" type="submit" value="Ok" /></td>
                       <td width=50%><input class="w-100 close" type="button" value="Отмена" /></td>
                   </tr>
               </table>
           </form>
       </div>
   </div>

    <div id="delete-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form class="form" method="POST" th:object="${addEarthDocument}" th:action="@{/deleteEarthDocument}">
                <table width=100%>
                    <tr>
                        <td align="center" colspan="3">
                            <h4>Вы действительно хотите удалить запись?</h4>
                        </td>
                    </tr>
                    <tr>
                        <td width=0%><input id="earthDocumentIdDelete" th:field="*{earthDocumentId}" class="field" type="hidden" placeholder="Введите..." /></td>
                        <td width=50%><input class="w-100" type="submit" value="Ок" /></td>
                        <td width=50%><input class="w-100 close" type="button" value="Отмена" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

   <script>
       function getIdByButton(id) {
           document.getElementById("earthDocumentIdDelete").value = id;
       }

       function getEarthDocument(earthDocumentId, earthName, idNation, idTypeDocument, idAlien, description) {
           document.getElementById("earthDocumentId").value = earthDocumentId;
           document.getElementById("earthDocumentEarthName").value = earthName;
           document.getElementById("earthDocumentIdNation").value = idNation;
           document.getElementById("earthDocumentIdTypeDocument").value = idTypeDocument;
           document.getElementById("earthDocumentIdAlien").value = idAlien;
           document.getElementById("earthDocumentDescription").value = description;
       }

       function getAlienPassport(passportId, name, homePlanet, idRace, description) {
           document.getElementById("passportId").value = passportId;
           document.getElementById("passportName").value = name;
           document.getElementById("passportHomePlanet").value = homePlanet;
           document.getElementById("passportIdRace").value = idRace;
           document.getElementById("passportDescription").value = description;
       }

        function closeModal(modal) {
            modal.style.display = "none";
        }

        let modal_ids = ["edit-modal", "add-modal", "logout-modal", "delete-modal", "view-modal"];
        let modal_btn_names = ["edit", "add", "logout", "delete", "view"];
        let modals = [];

        for (let id of modal_ids) {
            let modal = document.getElementById(id);
            modals.push(modal);
            let btns = modal.querySelectorAll(".close");
            for (let btn of btns) {
                btn.onclick = function () { closeModal(modal); }
            }
        }

        for (let id of modal_btn_names) {
            let btns = document.getElementsByName(id);
            for(let btn of btns) {
                btn.onclick = function () {
                    document.getElementById(id+"-modal").style.display = "block";
                }
            }
        }

        window.onclick = function (event) {
            for (let modal of modals) {
                if (event.target == modal) {
                    event.target.style.display = "none";
                }
            }
        }
</script>

<script>
    document.getElementById("deffault").click();

    function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

</body>
</html>