<!DOCTYPE html>
<html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>MIB Enterprise </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
</head>

<body>

   <div class="container black">
       <div class="documents-container">
           <div class="menu">
               <ul>
                   <li name = "add">Создать акт о проишествии</li>
                   <li name = "logout">Выйти</li>
               </ul>
           </div>

           <div class="search-form">
               <form class="form search" th:object="${findFilds}" th:action="@{/agentIndex}" method="post">
                    <div class="label">
                        Место проишествия:
                    </div>
                    <input th:field="*{scene}"  class="field" type="text" placeholder="Введите..." />
                    <div class="label">
                        Виновник проишествия:
                    </div>
                   <select th:field="*{idGuiltyAlien}" >
                       <option value="0"> -- </option>
                       <option th:each="alien : ${aliens}"  th:value="${alien.passportId}"  th:utext="${alien.name}"/>
                   </select>
                    <div class="inline-block">
                       <div class="header">
                           Ответственный агент:
                       </div>
                        <select th:field="*{idUserAgent}" >
                            <option value="0"> -- </option>
                            <option th:each="agent : ${agents}"  th:value="${agent.MIBEmployeeId}"  th:utext="${agent.name}"/>
                        </select>
                   </div>
                   <div class="inline-block">
                       <div class="header">
                           Ключевые слова:
                       </div>
                       <input th:field="*{description}" type="text" class="field" />
                       <input type="submit" class="field" value="Поиск" />
                   </div>
               </form>
           </div>
           <div class="content">
               <table border="1" width="100%">
                   <tr>
                       <th>Место проишествия</th>
                       <th>Виновник проишествия</th>
                       <th>Ответственный агент</th>
                       <th>Описание</th>
                       <th></th>
                   </tr>
                   <!-- FOR aliens PRINT -->
                   <tr th:each="act : ${acts}">
                       <td th:utext="${act.scene}"></td>
                       <td th:utext="${act.nameAlien}"></td>
                       <td th:utext="${act.nameAgent}"></td>
                       <td th:utext="${act.description}"></td>
                       <td>
                           <button name = "edit" th:data1="${act.scene}" th:data2="${act.description}" th:onmouseup="|getActDetention(${act.actDetentionId}, this.getAttribute('data1'), ${act.idGuiltyAlien}, ${act.idUserAgent}, this.getAttribute('data2'), ${act.technologys}, ${act.stripping});|" class="button-edit">Редактировать</button>
                           <button name = "delete" th:onmouseup="|getIdByButton(${act.actDetentionId});|" class="button-edit" >Удалить</button>
                       </td>
                   </tr>
                   <!-- END FOR -->
               </table>
           </div>
       </div>

       <div id="add-modal" class="modal">
           <form class="modal-content form act" method="POST" th:object="${addActDetention}" th:action="@{/addActDetention}">
               <table>
                   <tr>
                       <td colspan="2" align="center">
                           <div class="header">Акт о проишествии</div>
                       </td>
                   </tr>
                   <tr>
                       <td class="col-1">
                           <div class="label">Место проишествия:</div>
                       </td>
                       <td class="col-2">
                           <input th:field="*{scene}" class="field" type="text" placeholder="Введите..." />
                       </td>
                   </tr>
                   <tr>
                    <td class="col-1">
                        <div class="label">Виновник проишествии:</div>
                    </td>
                    <td class="col-2">
                        <select th:field="*{idGuiltyAlien}" >
                            <option th:each="alien : ${aliens}"  th:value="${alien.passportId}"  th:utext="${alien.name}"/>
                        </select>
                    </td>
                    </tr>
                    <tr>
                       <td class="col-1">
                           <div class="label">Ответственный агент:</div>
                       </td>
                       <td class="col-2">
                           <select th:field="*{idUserAgent}" >
                               <option th:each="agent : ${agents}"  th:value="${agent.MIBEmployeeId}"  th:utext="${agent.name}"/>
                           </select>
                       </td>
                    </tr>
                   <tr>
                       <td class="col-1" colspan="2" align="right">
                           <input type="checkbox" th:field="*{technologys}">Найдены технологии
                           <input type="checkbox" th:field="*{stripping}">Нужна зачистка
                       </td>
                   </tr>
                    <tr>
                       <td colspan="2">
                           <div class="label">Описание:</div>
                       </td>
                   </tr>
                   <tr>
                       <td colspan="2">
                           <textarea th:field="*{description}" class="textarea"></textarea>
                       </td>
                   </tr>
                   <tr>
                       <td align="left">
                           <input type="button" class="close" value="К документам">
                       </td>
                       <td align="right">
                           <input type="submit" value="Создать" />
                       </td>
                   </tr>
               </table>
           </form>
       </div>


       <div id="edit-modal" class="modal">
        <form class="modal-content form act" method="POST" th:object="${addActDetention}" th:action="@{/updateActDetention}">
            <table>
                <tr>
                    <td colspan="2" align="center">
                        <div class="header">Акт о проишествии</div>
                    </td>
                    <td>
                        <input id="actDetentionId" th:field="*{actDetentionId}" class="field" type="hidden" placeholder="Введите..." />
                    </td>
                </tr>
                <tr>
                    <td class="col-1">
                        <div class="label">Место проишествия:</div>
                    </td>
                    <td class="col-2">
                        <input id="actDetentionScene" th:field="*{scene}" class="field" type="text" placeholder="Введите..." />
                    </td>
                </tr>
                <tr>
                 <td class="col-1">
                     <div class="label">Виновник проишествии:</div>
                 </td>
                 <td class="col-2">
                     <select id="idGuiltyAlien" th:field="*{idGuiltyAlien}" >
                         <option th:each="alien : ${aliens}"  th:value="${alien.passportId}"  th:utext="${alien.name}"/>
                     </select>
                 </td>
             </tr>
                 <tr>
                    <td class="col-1">
                        <div class="label">Ответственный агент:</div>
                    </td>
                    <td class="col-2">
                        <select id="idUserAgent" th:field="*{idUserAgent}" >
                            <option th:each="agent : ${agents}"  th:value="${agent.MIBEmployeeId}"  th:utext="${agent.name}"/>
                        </select>
                    </td>
                 </tr>
                <tr>
                    <td class="col-1" colspan="2" align="right">
                        <input type="checkbox"id="idTechnologys" th:field="*{technologys}">Найдены технологии
                        <input type="checkbox" id="idStripping" th:field="*{stripping}">Нужна зачистка
                    </td>
                </tr>
                 <tr>
                    <td colspan="2">
                        <div class="label">Описание:</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea id="actDetentionDescription" th:field="*{description}" class="textarea"></textarea>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <input type="button" class="close" value="К документам">
                    </td>
                    <td align="right">
                        <input type="submit" value="Сохранить"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>

   <div id="logout-modal" class="modal">
       <div class="modal-content">
           <span class="close">&times;</span>
           <form class="form" method="POST" action="/logout">
               <table width=100%>
                   <tr>
                       <td align="center" colspan="3">
                           <h4>Вы действительно хотите выйти?</h4>
                       </td>
                   </tr>
                   <tr>
                       <td width=50%><input class="w-100" type="submit" value="Ok" /></td>
                       <td width=50%><input class="w-100 close" type="button" value="Отмена" /></td>
                   </tr>
               </table>
           </form>
       </div>
   </div>

   <div id="delete-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form class="form" method="POST" th:object="${addActDetention}" th:action="@{/deleteActDetention}">
            <table width=100%>
                <tr>
                    <td align="center" colspan="3">
                        <h4>Вы действительно хотите удалить запись?</h4>
                    </td>
                </tr>
                <tr>
                    <td width=0%><input id="addActDetentionIdDelete" th:field="*{actDetentionId}" class="field" type="hidden" placeholder="Введите..." /></td>
                    <td width=50%><input class="w-100" type="submit" value="Ок" /></td>
                    <td width=50%><input class="w-100 close" type="button" value="Отмена" /></td>
                </tr>
            </table>
        </form>
    </div>
</div>

   <script>
       function getIdByButton(id) {
           document.getElementById("addActDetentionIdDelete").value = id;
       }

       function getActDetention(actDetentionId, scene, idGuiltyAlien, idUserAgent, description, technologys, stripping) {
           document.getElementById("actDetentionId").value = actDetentionId;
           document.getElementById("actDetentionScene").value = scene;
           document.getElementById("idGuiltyAlien").value = idGuiltyAlien;
           document.getElementById("idUserAgent").value = idUserAgent;
           document.getElementById("idTechnologys").checked = technologys;
           document.getElementById("idStripping").checked = stripping;
           document.getElementById("actDetentionDescription").value = description;
       }
        function closeModal(modal) {
            modal.style.display = "none";
        }

        let modal_ids = ["edit-modal", "add-modal", "logout-modal", "delete-modal"];
        let modal_btn_names = ["edit", "add", "logout", "delete"];
        let modals = [];

        for (let id of modal_ids) {
            let modal = document.getElementById(id);
            modals.push(modal);
            let btns = modal.querySelectorAll(".close");
            for (let btn of btns) {
                btn.onclick = function () { closeModal(modal); }
            }
        }

        for (let id of modal_btn_names) {
            let btns = document.getElementsByName(id);
            for(let btn of btns) {
                btn.onclick = function () {
                    document.getElementById(id+"-modal").style.display = "block";
                }
            }
        }

        window.onclick = function (event) {
            for (let modal of modals) {
                if (event.target == modal) {
                    event.target.style.display = "none";
                }
            }
        }
    </script>

</body>
</html>