<!DOCTYPE html>
<html>

<head>
   <title>MBI Enterprise</title>
   <link rel="stylesheet" type="text/css" href="styles.css" />
</head>

<body>

   <div class="container black">
       <div class="documents-container">
           <div class="menu">
               <ul>
                   <li name = "add">Создать акт о проишествии</li>
                   <li name = "logout">Выйти</li>
               </ul>
           </div>

           <div class="search-form">
               <form class="form search">
                    <div class="label">
                        Место проишествия:
                    </div>
                    <input name="field_1" class="field" type="text" placeholder="Введите..." />
                    <div class="label">
                        Виновник проишествия:
                    </div>
                    <input name="field_2" class="field" type="text" placeholder="Введите..." />
                    <div class="inline-block">
                       <div class="header">
                           Ответственный агент:
                       </div>
                       <select name="crit_1" class="field">
                           <option value="reptioid">Рептилоид</option>
                           <option value="humanoid">Гуманоид</option>
                           <option value="daedra">Даэдра</option>
                       </select>
                   </div>
                   <div class="inline-block">
                       <div class="header">
                           Ключевые слова:
                       </div>
                       <input name="keywords" type="text" class="field" />
                       <input type="submit" class="field" value="Поиск" />
                   </div>
               </form>
           </div>
           <div class="content">
               <table border="1" width="100%">
                   <tr>
                       <th>Место проишествия</th>
                       <th>Виновник проишествия</th>
                       <th>Ответственный агент</th>
                       <th>Описание</th>
                       <th></th>
                   </tr>
                   <!-- FOR aliens PRINT -->
                   <tr>
                       <td>Зеленый</td>
                       <td>Рожки</td>
                       <td>Рептилоид</td>
                       <td>Не женат</td>
                       <td>
                           <button name = "edit" class="button-edit">Редактировать</button>
                           <button name = "delete" class="button-edit">Удалить</button>
                        </td>
                   </tr>
                   <!-- END FOR -->
               </table>
           </div>
       </div>



       <div id="add-modal" class="modal">
           <form class="modal-content form act" method="POST" action="restcontroller.asdaasd">
               <table>
                   <tr>
                       <td colspan="2" align="center">
                           <div class="header">Акт о проишествии</div>
                       </td>
                   </tr>
                   <tr>
                       <td class="col-1">
                           <div class="label">Место проишествия:</div>
                       </td>
                       <td class="col-2">
                           <input name="field_1" class="field" type="text" placeholder="Введите..." />
                       </td>
                   </tr>
                   <tr>
                    <td class="col-1">
                        <div class="label">Виновник проишествии:</div>
                    </td>
                    <td class="col-2">
                        <input name="field_2" class="field" type="text" placeholder="Введите..." />
                    </td>
                </tr>
                    <tr>
                       <td class="col-1">
                           <div class="label">Ответственный агент:</div>
                       </td>
                       <td class="col-2">
                           <select name="crit_1" class="field">
                               <option value="reptioid">Рептилоид</option>
                               <option value="humanoid">Гуманоид</option>
                               <option value="daedra">Даэдра</option>
                           </select>
                       </td>
                    </tr>
                </tr>
                <tr>
                   <td colspan="2" align="right" valign="middle">
                    <input name="field_3" type="checkbox"/> Найдены технологии 
                    <input name="field_4" type="checkbox"/> Нужна зачистка 
                   </td>
                </tr>
                    <tr>
                       <td colspan="2">
                           <div class="label">Описание:</div>
                       </td>
                   </tr>
                   <tr>
                       <td colspan="2">
                           <textarea name="description" class="textarea"></textarea>
                       </td>
                   </tr>
                   <tr>
                       <td align="left">
                           <input type="button" class="close" value="К документам">
                       </td>
                       <td align="right">
                           <input type="submit" value="Создать" />
                       </td>
                   </tr>
               </table>
           </form>
       </div>


       <div id="edit-modal" class="modal">
        <form class="modal-content form act" method="POST" action="restcontroller.asdaasd">
            <table>
                <tr>
                    <td colspan="2" align="center">
                        <div class="header">Акт о проишествии</div>
                    </td>
                </tr>
                <tr>
                    <td class="col-1">
                        <div class="label">Место проишествия:</div>
                    </td>
                    <td class="col-2">
                        <input name="field_1" class="field" type="text" placeholder="Введите..." />
                    </td>
                </tr>
                <tr>
                 <td class="col-1">
                     <div class="label">Виновник проишествии:</div>
                 </td>
                 <td class="col-2">
                     <input name="field_2" class="field" type="text" placeholder="Введите..." />
                 </td>
             </tr>
                 <tr>
                    <td class="col-1">
                        <div class="label">Ответственный агент:</div>
                    </td>
                    <td class="col-2">
                        <select name="crit_1" class="field">
                            <option value="reptioid">Рептилоид</option>
                            <option value="humanoid">Гуманоид</option>
                            <option value="daedra">Даэдра</option>
                        </select>
                    </td>
                 </tr>
             </tr>
             <tr>
                <td colspan="2" align="right" valign="middle">
                 <input name="field_3" type="checkbox"/> Найдены технологии 
                 <input name="field_4" type="checkbox"/> Нужна зачистка 
                </td>
             </tr>
                 <tr>
                    <td colspan="2">
                        <div class="label">Описание:</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea name="description" class="textarea"></textarea>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <input type="button" class="close" value="К документам">
                    </td>
                    <td align="right">
                        <input type="submit" value="Сохранить"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>

   <div id="logout-modal" class="modal">
       <div class="modal-content">
           <span class="close">&times;</span>
           <form class="form" method="POST" action="restcontroller.asdaasd">
               <table width=100%>
                   <tr>
                       <td align="center" colspan="3">
                           <h4>Вы действительно хотите выйти?</h4>
                       </td>
                   </tr>
                   <tr>
                       <td width=50%><input class="w-100" type="submit" value="Ok" /></td>
                       <td width=50%><input class="w-100 close" type="button" value="Отмена" /></td>
                   </tr>
               </table>
           </form>
       </div>
   </div>

   <div id="delete-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form class="form" method="POST" action="restcontroller.asdaasd">
            <table width=100%>
                <tr>
                    <td align="center" colspan="3">
                        <h4>Вы действительно хотите удалить запись?</h4>
                    </td>
                </tr>
                <tr>
                    <td width=50%><input class="w-100" type="submit" value="Ок" /></td>
                    <td width=50%><input class="w-100 close" type="button" value="Отмена" /></td>
                </tr>
            </table>
        </form>
    </div>
</div>

   <script>
    function closeModal(modal) {
        modal.style.display = "none";
    }

    let modal_ids = ["edit-modal", "add-modal", "logout-modal", "delete-modal"];
    let modal_btn_names = ["edit", "add", "logout", "delete"];
    let modals = [];
    
    for (let id of modal_ids) {
        let modal = document.getElementById(id);
        modals.push(modal);
        let btns = modal.querySelectorAll(".close");
        for (let btn of btns) {
            btn.onclick = function () { closeModal(modal); }
        }
    }

    for (let id of modal_btn_names) {
        let btns = document.getElementsByName(id);
        for(let btn of btns) {
            btn.onclick = function () {
                document.getElementById(id+"-modal").style.display = "block";
            }
        }
    }

    window.onclick = function (event) {
        for (let modal of modals) {
            if (event.target == modal) {
                event.target.style.display = "none";
            }
        }
    }
</script>

</body>
</html>