<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <title>MBI Enterprise</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
</head>

<body>
<div class="container">
  <div class="documents-container">
    <div class="menu">
      <ul>
        <li>Новый документ</li>
        <li id="logout">Выйти</li>
      </ul>
    </div>
    <div class="search-form">
      <form class="form search">
        <div class="inline-block">
          <div class="header">
            Критерий 1:
          </div>
          <select name="crit_1" class="field">
            <option value="green">Зелёный</option>
            <option value="red">Красный</option>
            <option value="yellow">Жёлтый</option>
            <option value="blue">Синий</option>
          </select>
        </div>
        <div class="inline-block">
          <div class="header">
            Критерий 2:
          </div>
          <select name="crit_2" class="field">
            <option value="horns">Рожки</option>
            <option value="gills">Жабры</option>
            <option value="fur">Мех</option>
          </select>
        </div>
        <div class="inline-block">
          <div class="header">
            Критерий 3:
          </div>
          <select name="crit_3" class="field">
            <option value="reptioid">Рептилоид</option>
            <option value="humanoid">Гуманоид</option>
            <option value="daedra">Даэдра</option>
          </select>
        </div>
        <div class="inline-block">
          <div class="header">
            Ключевые слова:
          </div>
          <input name="keywords" type="text" class="field"/>
          <input type="submit" class="field" value="Поиск"/>
        </div>
      </form>
    </div>
    <div class="content">
      <table border="1" width="100%">
        <tr>
          <th>Критерий 1</th>
          <th>Критерий 2</th>
          <th>Критерий 3</th>
          <th>Описание</th>
          <th></th>
        </tr>
        <!-- FOR aliens PRINT -->
        <tr>
          <td>Зеленый</td>
          <td>Рожки</td>
          <td>Рептилоид</td>
          <td>Не женат</td>
          <td>
            <button id="edit">EDIT</button>
          </td>
        </tr>
        <!-- END FOR -->
      </table>
    </div>
  </div>

  <div id="edit-modal" class="modal">

    <form class="modal-content form edit" method="POST" action="restcontroller.asdaasd">
      <table>
        <tr>
          <td colspan="2">
            <div class="header">Заголовок документа</div>
          </td>
        </tr>
        <tr>
          <td class="col-1">
            <div class="label">Поле 1:</div>
          </td>
          <td class="col-2">
            <input name="field_1" class="field" type="text" placeholder="Введите..."/>
          </td>
        </tr>
        <tr>
          <td class="col-1">
            <div class="label">Поле 2:</div>
          </td>
          <td class="col-2">
            <input name="field_2" class="field" type="text" placeholder="Введите..."/>
          </td>
        </tr>
        <tr>
          <td class="col-1">
            <div class="label">Поле 3:</div>
          </td>
          <td class="col-2">
            <input name="field_3" class="field" type="text" placeholder="Введите..."/>
          </td>
        </tr>
        <tr>
          <td class="col-1">
            <div class="label">Критерий 1:</div>
          </td>
          <td class="col-2">
            <select name="crit_1" class="field">
              <option value="green">Зелёный</option>
              <option value="red">Красный</option>
              <option value="yellow">Жёлтый</option>
              <option value="blue">Синий</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="col-1">
            <div class="label">Критерий 2:</div>
          </td>
          <td class="col-2">
            <select name="crit_2" class="field">
              <option value="horns">Рожки</option>
              <option value="gills">Жабры</option>
              <option value="fur">Мех</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="col-1">
            <div class="label">Критерий 3:</div>
          </td>
          <td class="col-2">
            <select name="crit_3" class="field">
              <option value="reptioid">Рептилоид</option>
              <option value="humanoid">Гуманоид</option>
              <option value="daedra">Даэдра</option>
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="label">Описание:</div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <textarea name="description" class="textarea"></textarea>
          </td>
        </tr>
        <tr>
          <td align="left">
            <input type="button" class="close" value="К документам">
          </td>
          <td align="right">
            <input type="submit" value="Сохранить"/>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
<div id="logout-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <form class="form" method="POST" th:action="@{/logout}">
      <table width=100%>
        <tr>
          <td align="center" colspan="3">
            <h4>Вы действительно хотите выйти?</h4>
          </td>
        </tr>
        <tr>
          <td width=50%><input class="w-100" type="submit" value="Ok"/></td>
          <td width=50%><input class="w-100 close" type="button" value="Отмена"/></td>
        </tr>
      </table>
    </form>
  </div>
</div>

<script>
  function closeModal(modal) {
    modal.style.display = "none";
  }

  var edit_modal = document.getElementById("edit-modal");
  var logout_modal = document.getElementById("logout-modal");

  var btn = document.getElementById("logout");
  var btn_edit = document.getElementById("edit");

  var edit_btns = document.querySelectorAll("#edit-modal .close");
  for (let i = 0; i < edit_btns.length; i++) {
    edit_btns[i].onclick = function () {
      closeModal(edit_modal);
    }
  }

  var logout_btns = document.querySelectorAll("#logout-modal .close");
  for (let i = 0; i < logout_btns.length; i++) {
    logout_btns[i].onclick = function () {
      closeModal(logout_modal);
    }
  }

  btn.onclick = function () {
    logout_modal.style.display = "block";
  }
  btn_edit.onclick = function () {
    edit_modal.style.display = "block";
  }

  window.onclick = function (event) {
    if (event.target == logout_modal || event.target == edit_modal) {
      edit_modal.style.display = "none";
      logout_modal.style.display = "none";
    }
  }
</script>
</body>

</html>