<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>MIB Enterprise </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
</head>
<body>
<div class="error" th:if="${param.error}">
  <th:block th:text="${param.error}"></th:block>
</div>
<div class="error" th:if="${param.logout}">
  You have been logged out.
</div>
<div class="container">
  <form class="form login center-300" method="POST" th:action="@{/login}">

    <table>
      <tr>
        <td colspan="2">
          <div class="logo">MIB</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="label">Логин:</div>
        </td>
        <td class="col-2"><input name="username" class="field w-96" type="text"
                                 placeholder="Логин"/>
        </td>
      </tr>
      <tr>
        <td>
          <div class="label">Пароль:</div>
        </td>
        <td class="col-2"><input name="password" class="field w-96" type="password"
                                 placeholder="********"/>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="w-100">
          <input value="Войти" class="field w-100" type="submit"/>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="w-100">

          <div class="block w-80 error d-none">
            SOME ERROR
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>
</body>
