<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>MIB Enterprise </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
</head>

<body>
   <div class="container black">
       <div class="documents-container">
           <div class="menu">
               <ul>
                   <li name = "add">Новый паспорт агента</li>
                   <li name = "logout">Выйти</li>
               </ul>
           </div>

            <div class="tab">
                <button id="deffault" class="tablinks tablinkbuttons" onclick="openCity(event, 'passporters')">Персонал</button>
                <button class="tablinks tablinkbuttons" onclick="openCity(event, 'earthDocuments')">Поиск кадров</button>
            </div>

            <div id="passporters" class="tabcontent">
                <div class="search-form">
                    <form class="form search" th:object="${findMIBEmployee}" th:action="@{/hrIndex}" method="post">
                        <div class="label">
                            Имя агента:
                        </div>
                        <input th:field="*{name}" class="field" type="text" placeholder="Введите..." />
                        <div class="inline-block">
                            <div class="header">
                                Должность:
                            </div>
                            <select th:field="*{idRole}" >
                                <option value="0"> -- </option>
                                <option th:each="role : ${roles}"  th:value="${role.roleId}"  th:utext="${role.roleName}"/>
                            </select>
                        </div>
                        <div class="inline-block">
                            <div class="header">
                                Куратор:
                            </div>
                            <select th:field="*{idCurator}" >
                                <option value="0"> -- </option>
                                <option th:each="people : ${peoples}"  th:value="${people.MIBEmployeeId}"  th:utext="${people.name}"/>
                            </select>
                        </div>
                        <div class="inline-block">
                            <div class="header">
                                Ключевые слова:
                            </div>
                            <input th:field="*{description}"  type="text" class="field" />
                            <input type="submit" class="field" value="Поиск" />
                        </div>
                    </form>
                </div>
                <div class="content">
                    <table border="1" width="100%">
                        <tr>
                            <th>Имя агента</th>
                            <th>Должность</th>
                            <th>Куратор</th>
                            <th>Описание</th>
                            <th></th>
                        </tr>
                        <!-- FOR aliens PRINT -->
                        <tr th:each="MIBEmployee : ${MIBEmployees}">
                            <td th:utext="${MIBEmployee.name}"></td>
                            <td th:utext="${MIBEmployee.roleName}"></td>
                            <td th:utext="${MIBEmployee.curatorName}"></td>
                            <td th:utext="${MIBEmployee.description}"></td>
                            <td>
                                <button button name = "edit" th:data1="${MIBEmployee.name}" th:data2="${MIBEmployee.username}" th:data3="${MIBEmployee.password}" th:data4="${MIBEmployee.age}" th:data5="${MIBEmployee.description}" th:onmouseup="|getMIBEmployee(${MIBEmployee.MIBEmployeeId}, ${MIBEmployee.idUser}, this.getAttribute('data1'), this.getAttribute('data2'), this.getAttribute('data3'), this.getAttribute('data4'), ${MIBEmployee.idRole}, ${MIBEmployee.idCurator}, this.getAttribute('data5'));|" class = "button-edit">Редактировать</button>
                                <button name = "delete" th:onmouseup="|getIdByButton(${MIBEmployee.MIBEmployeeId}, ${MIBEmployee.idUser});|" class = "button-edit" >Удалить</button>
                            </td>
                        </tr>
                        <!-- END FOR -->
                    </table>
                </div>
            </div>

            <div id="earthDocuments" class="tabcontent">
                <div class="search-form">
                    <form class="form search" th:object="${findFreePersona}" th:action="@{/hrIndex}" method="post">
                        <div class="inline-block">
                            <div class="header">
                                Возраст:
                            </div>
                            <input th:field="*{age}" class="field" type="text" placeholder="Введите..." />
                        </div>
                        <div class="inline-block">
                            <div class="header">
                                Профессия:
                            </div>
                            <input th:field="*{profession}" class="field" type="text" placeholder="Введите..." />
                        </div>
                        <div class="inline-block">
                            <div class="header">
                                Образование:
                            </div>
                            <input th:field="*{education}" class="field" type="text" placeholder="Введите..." />
                        </div>
                        <div class="inline-block">
                            <div class="header">
                                Ключевые слова:
                            </div>
                            <input th:field="*{description}" type="text" class="field" />
                            <input type="submit" class="field" value="Поиск" />
                        </div>
                    </form>
                </div>
                <div class="content">
                    <table border="1" width="100%">
                        <tr>
                            <th>Имя</th>
                            <th>Возраст</th>
                            <th>Профессия</th>
                            <th>Образование</th>
                            <th>Описание</th>
                            <th></th>
                        </tr>
                        <!-- FOR aliens PRINT -->
                        <tr th:each="freePersona : ${freePersonas}">
                            <td th:utext="${freePersona.name}"></td>
                            <td th:utext="${freePersona.age}"></td>
                            <td th:utext="${freePersona.profession}"></td>
                            <td th:utext="${freePersona.education}"></td>
                            <td th:utext="${freePersona.description}"></td>
                            <td>
                                <button button name = "add" th:data1="${freePersona.name}" th:data2="${freePersona.age}" th:data3="${freePersona.description}" th:onmouseup="|getFreePerson(${freePersona.freePersonaId}, this.getAttribute('data1'), this.getAttribute('data2'), this.getAttribute('data3'));|" class = "button-edit">Нанять</button>
                            </td>
                        </tr>
                        <!-- END FOR -->
                    </table>
                </div>
            </div>
       </div>

       <div id="add-modal" class="modal">
            <form class="modal-content form employee2" th:object="${addMIBEmployee}" th:action="@{/addMIBEmployee}" method="post">
                <table>
                    <tr>
                        <td colspan="2" align="center">
                            <div class="header">Паспорт сотрудника</div>
                        </td>
                        <td>
                            <input id="idAdd" th:field="*{idFreePeople}" class="field" type="hidden" placeholder="Введите..." />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            <div class="label">Имя агента:</div>
                        </td>
                        <td class="col-2">
                            <input id="nameAdd" th:field="*{name}" class="field" type="text" placeholder="Введите..." />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            <div class="label">Имя пользователя:</div>
                        </td>
                        <td class="col-2">
                            <input th:field="*{username}" class="field" type="text" placeholder="Введите..." />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            <div class="label">Пароль:</div>
                        </td>
                        <td class="col-2">
                            <input th:field="*{password}" class="field" type="text" placeholder="Введите..." />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            <div class="label">Возраст:</div>
                        </td>
                        <td class="col-2">
                            <input id="ageAdd" th:field="*{age}" class="field" type="text" placeholder="Введите..." />
                        </td>
                    </tr>
                    <tr>
                       <td class="col-1">
                           <div class="label">Должность:</div>
                       </td>
                       <td class="col-2">
                           <select th:field="*{idRole}" class="field">
                               <option th:each="role : ${roles}"  th:value="${role.roleId}"  th:utext="${role.roleName}"/>
                           </select>
                       </td>
                    </tr>
                </tr>
                <tr>
                   <td class="col-1">
                       <div class="label">Куратор:</div>
                   </td>
                   <td class="col-2">
                       <select th:field="*{idCurator}" class="field">
                           <option th:each="people : ${peoples}"  th:value="${people.MIBEmployeeId}"  th:utext="${people.name}"/>
                       </select>
                   </td>
                </tr>
                    <tr>
                       <td colspan="2">
                           <div class="label">Описание:</div>
                       </td>
                   </tr>
                   <tr>
                       <td colspan="2">
                           <textarea id="descriptionAdd" th:field="*{description}"  class="textarea"></textarea>
                       </td>
                   </tr>
                   <tr>
                       <td align="left">
                           <input type="button" class="close" value="К документам">
                       </td>
                       <td align="right">
                           <input type="submit" value="Создать" />
                       </td>
                   </tr>
               </table>
           </form>
       </div>


       <div id="edit-modal" class="modal">
            <form class="modal-content form employee2" th:object="${addMIBEmployee}" th:action="@{/updateMIBEmployee}" method="post">
                <table>
                    <tr>
                        <td colspan="2" align="center">
                            <div class="header">Паспорт сотрудника</div>
                        </td>
                        <td>
                            <input id="mIBEmployeeId" th:field="*{MIBEmployeeId}" class="field" type="hidden" placeholder="Введите..." />
                        </td>
                        <td>
                            <input id="mIBEmployeeUserId" th:field="*{idUser}" class="field" type="hidden" placeholder="Введите..." />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            <div class="label">Имя агента:</div>
                        </td>
                        <td class="col-2">
                            <input id="mIBEmployeeName" th:field="*{name}"  class="field" type="text" placeholder="Введите..." />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            <div class="label">Имя пользователя:</div>
                        </td>
                        <td class="col-2">
                            <input id="mIBEmployeeUsername" th:field="*{username}" type="text" placeholder="Введите..." />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            <div class="label">Пароль:</div>
                        </td>
                        <td class="col-2">
                            <input  id="mIBEmployeePassword" th:field="*{password}" type="text" placeholder="Введите..." />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            <div class="label">Возраст:</div>
                        </td>   
                        <td class="col-2">
                            <input id="mIBEmployeeAge" th:field="*{age}" class="field" type="text" placeholder="Введите..." />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            <div class="label">Должность:</div>
                        </td>
                        <td class="col-2">
                            <select id="mIBEmployeeRole" th:field="*{idRole}" class="field">
                                <option th:each="role : ${roles}" th:value="${role.roleId}" th:utext="${role.roleName}"/>
                            </select>
                        </td>
                    </tr>
                </tr>
                <tr>
                    <td class="col-1">
                        <div class="label">Куратор:</div>
                    </td>
                    <td class="col-2">
                        <select id="mIBEmployeeСurator" th:field="*{idCurator}" class="field">
                            <option th:each="people : ${peoples}" th:value="${people.MIBEmployeeId}" th:utext="${people.name}"/>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="label">Описание:</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea id="mIBEmployeeDescription" th:field="*{description}" class="textarea"></textarea>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <input type="button" class="close" value="К документам">
                    </td>
                    <td align="right">
                            <input type="submit" value="Сохранить" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

   <div id="logout-modal" class="modal">
       <div class="modal-content">
           <span class="close">&times;</span>
           <form class="form" method="POST" action="/logout">
               <table width=100%>
                   <tr>
                       <td align="center" colspan="3">
                           <h4>Вы действительно хотите выйти?</h4>
                       </td>
                   </tr>
                   <tr>
                       <td width=50%><input class="w-100" type="submit" value="Ok" /></td>
                       <td width=50%><input class="w-100 close" type="button" value="Отмена" /></td>
                   </tr>
               </table>
           </form>
       </div>
   </div>

    <div id="delete-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form class="form" method="POST" th:object="${addMIBEmployee}" th:action="@{/deleteMIBEmployee}">
                <table width=100%>
                    <tr>
                        <td align="center" colspan="4">
                            <h4>Вы действительно хотите удалить запись?</h4>
                        </td>
                    </tr>
                    <tr>
                        <td width=0%><input id="MIBEmployeeIdDelete" th:field="*{MIBEmployeeId}" class="field" type="hidden" placeholder="Введите..." /></td>
                        <td width=0%><input id="MIBEmployeeUserIdDelete" th:field="*{idUser}" class="field" type="hidden" placeholder="Введите..." /></td>
                        <td width=50%><input class="w-100" type="submit" value="Ок" /></td>
                        <td width=50%><input class="w-100 close" type="button" value="Отмена" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

   <script>
       function getIdByButton(id, userId) {
           document.getElementById("MIBEmployeeIdDelete").value = id;
           document.getElementById("MIBEmployeeUserIdDelete").value = userId;
       }

       function getFreePerson(id, name, age, description) {
           document.getElementById("idAdd").value = id;
           document.getElementById("nameAdd").value = name;
           document.getElementById("ageAdd").value = age;
           document.getElementById("descriptionAdd").value = description;
       }

       function getMIBEmployee(id, userId, name, username, password, age, role, curator, description) {
           document.getElementById("mIBEmployeeId").value = id;
           document.getElementById("mIBEmployeeUserId").value = userId;
           document.getElementById("mIBEmployeeName").value = name;
           document.getElementById("mIBEmployeeUsername").value = username;
           document.getElementById("mIBEmployeePassword").value = password;
           document.getElementById("mIBEmployeeAge").value = age;
           document.getElementById("mIBEmployeeRole").value = role;
           document.getElementById("mIBEmployeeСurator").value = curator;
           document.getElementById("mIBEmployeeDescription").value = description;
       }

        function closeModal(modal) {
            modal.style.display = "none";
        }

        let modal_ids = ["edit-modal", "add-modal", "logout-modal", "delete-modal"];
        let modal_btn_names = ["edit", "add", "logout", "delete"];
        let modals = [];

        for (let id of modal_ids) {
            let modal = document.getElementById(id);
            modals.push(modal);
            let btns = modal.querySelectorAll(".close");
            for (let btn of btns) {
                btn.onclick = function () { closeModal(modal); }
            }
        }

        for (let id of modal_btn_names) {
            let btns = document.getElementsByName(id);
            for(let btn of btns) {
                btn.onclick = function () {
                    document.getElementById(id+"-modal").style.display = "block";
                }
            }
        }

        window.onclick = function (event) {
            for (let modal of modals) {
                if (event.target == modal) {
                    event.target.style.display = "none";
                }
            }
        }
</script>

<script>
    document.getElementById("deffault").click();

    function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

</body>
</html>